@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

body{
	font-family: 'Arsenal', sans-serif;
	font-size: 14px;
	color: #fff;
}

.fondo{
	
background: linear-gradient(90deg, rgba(0,0,89,1) 0%, rgba(63,3,93,1) 100%);
}

header{
	padding: 40px 0;
	color: #fff;
}

#hero{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 0;
}

#infinito{
	background-color: #000;
	padding: 60px 0;
}

#infinito h1{
	font-family: 'Arsenal', sans-serif;
	color: #66C6DF;
	text-align: center;
	font-weight: 700;
	font-size: 60px;
}

#infinito h3{
	font-family: 'Arsenal', sans-serif;
	font-size: 20px;
	color: #66C6DF;
	font-weight: 500;
}

#infinito h6{
	text-align: center;
	margin-bottom: 40px;	
}

#infinito p{
	letter-spacing: 1px;	
}

.img-fluid{
	max-width: 100%;
	height: auto;
	width: auto;
}

footer{
	background-color: #040423;
	color: #fff;
	padding: 30px 30px;
}

.centered{
	text-align: right;
}

a{
	color: white;
	text-decoration: none;
}

footer h6{
	color: #989898;
	font-size: 14px;
}

footer h5{
	font-size: 24px;
}

.pad{
	padding: 3% 0;
}

.marimg{
	margin-bottom: 30px;
}

.btn-order{
	font-family: 'Arsenal', sans-serif;
	background-color: #a885d8;
	text-transform: uppercase;
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 100px;
	/*width: 120px;
	height: 40px;
	line-height: 25px;*/
	padding: 10px 20px;
	align-items: center;
}

#first{
	padding: 60px;
	text-align: center;
}

#first p{
	font-size: 19px;
	text-align: left;
}

#first h3{
	text-align: left;
	font-weight: 900;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 30px;
}

